<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.remix.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.ohgiraffers.section01.remix.EmployeeDTO">
        <id property="empId" column="EMP_ID"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
        <result property="salary" column="SALARY"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="hireDate" column="HIRE_DATE"/>
    </resultMap>
    <select id="selectAllEmployee" resultMap="employeeResultMap">
        SELECT
                EMP_ID
            ,   EMP_NAME
            ,   EMP_NO
            ,   EMAIL
            ,   PHONE
            ,   DEPT_CODE
            ,   JOB_CODE
            ,   SAL_LEVEL
            ,   SALARY
            ,   MANAGER_ID
            ,   HIRE_DATE
            FROM EMPLOYEE
            ORDER BY EMP_ID
    </select>

    <select id="selectOneEmployee" parameterType="_int" resultMap="employeeResultMap">
        SELECT
                EMP_ID
            ,   EMP_NAME
            ,   EMP_NO
            ,   EMAIL
            ,   PHONE
            ,   DEPT_CODE
            ,   JOB_CODE
            ,   SAL_LEVEL
            ,   SALARY
            ,   MANAGER_ID
            ,   HIRE_DATE
            FROM EMPLOYEE
    </select>

    <insert id="insertEmployee" parameterType="com.ohgiraffers.section01.remix.EmployeeDTO">
        INSERT INTO EMPLOYEE (
                                EMP_ID
                            ,   EMP_NAME
                            ,   EMP_NO
                            ,   JOB_CODE
                            ,   SAL_LEVEL
                            )
        VALUES
            (
                #{empId}
            ,   #{empName}
            ,   #{empNo}
            ,   #{jobCode}
            ,   #{salLevel}
            )
    </insert>

    <update id="updateEmployee" parameterType="com.ohgiraffers.section01.remix.EmployeeDTO">
        UPDATE  EMPLOYEE
        SET     EMP_NAME = #{empName}
            ,   JOB_CODE = #{jobCode}
            ,   SAL_LEVEL = #{salLevel}
            WHERE EMP_ID = #{empId}
    </update>
    <delete id="deleteEmployee" parameterType="com.ohgiraffers.section01.remix.EmployeeDTO">
        DELETE
        FROM EMPLOYEE
        WHERE EMP_ID = #{empId}
    </delete>
</mapper>